[Desktop Entry]
Type=Application
Name=Window Stack Bridge
Exec=/usr/local/bin/crouton-unity-wsb
OnlyShowIn=Unity;
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
